# Environment variables for AWS services
# These will be set in Elastic Beanstalk console under Configuration > Software
option_settings:
  aws:elasticbeanstalk:application:environment:
    AWS_REGION: us-east-1
    USE_S3_STORAGE: "true"
    USE_DYNAMODB: "true"
    USE_SNS: "true"
    USE_LAMBDA: "true"
    S3_BUCKET_NAME: electricity-tracker-uploads-24196517
    DYNAMODB_TABLE_NAME: ElectricityReadings
    SNS_TOPIC_NAME: ElectricityAlerts

